In [1]:
import pandas as pd

In [44]:
dataframes = pd.read_html("Dados/brutos/Ipeadata.html",decimal=',')

In [45]:
data = dataframes[1]

In [46]:
data = data[data.index > 118]

In [43]:
data[[0,2]].to_csv("Dados/brutos/IGPM.csv",sep=';',decimal=",",index=False)

In [47]:
data[[0,2]]

           0           2
119  1989.06   30862E-05
120  1989.07   41943E-05
121  1989.08       00001
122  1989.09       00001
123  1989.10       00001
..       ...         ...
515  2022.06  1.190,8820
516  2022.07  1.193,3370
517  2022.08  1.185,0040
518  2022.09  1.173,7930
519  2022.10  1.162,3910

[401 rows x 2 columns]